body {
  background-color: #f8f9fa;
}

h2 {
  color: #0d6efd;
}

form.card {
  background-color: #ffffff;
  border-radius: 10px;
}

input[type="file"]::-webkit-file-upload-button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0b5ed7;
}
